$amazon-blue: #141920;
$dark: #2a2e32;
$gray: #737373;
$amazon-orange: #ff9900;
$btn-orange: #ffd08a;
$btn-orange-2: #f4bf76;
$btn-orange-dark: #f4bb64;
$border-color: rgba(20, 25, 32, 0.18);
$text-light: rgba(42, 46, 50, 0.77);
$orange-light: rgba(253, 220, 171, 0.46);
