@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&family=Poppins&display=swap");
$inter-font-family: "Inter", sans-serif;
$montserrat-font-family: "Montserrat", sans-serif;
$poppins-font-family: "Poppins", sans-serif;
