@import "colors";
.container {
}
.body {
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
  column-gap: 1.875rem;
  row-gap: 2.25rem;
  .small-banner {
    grid-column-start: 1;
    grid-column-end: 9;
    display: flex;
    gap: 2rem;
    & > * {
      width: 50%;
    }
  }
}
