@import "colors";
.container {
}
.body {
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.875rem;
  row-gap: 2.25rem;
  .wishlist {
    grid-column-start: 9;
    grid-column-end: 13;
    border: 0.6px solid $border-color;
    border-radius: 6px;
  }
  .small-banner {
    grid-column-start: 1;
    grid-column-end: 9;
    display: flex;
    gap: 2rem;
    & > * {
      width: 50%;
    }
  }
}
