@import "colors";
@import "fonts";

//+++++++++++++++++++++ BODY +++++++++++++++++++++++++++
.body {
  margin: 5rem auto;
  max-width: 1500px;
  display: flex;
  font-family: $inter-font-family;
  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.info header {
  p {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: $gray;
    text-transform: uppercase;
  }
  h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 400;
  }
}
.review-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.6px solid $border-light;
  padding-bottom: 0.6rem;
  margin-bottom: 2rem;
  .review {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: $racing-blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .social {
    display: flex;
    gap: 0.5rem;
    .icons {
      font-size: 1.8em;
      color: $light-gray;
      cursor: pointer;
      &:hover {
        color: $racing-blue;
      }
    }
  }
}
.price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .price {
    small {
      color: $gray;
      font-size: 0.875rem;
    }
    p {
      margin: 0;
      font-size: 3rem;
      font-weight: 300;
    }
  }
  .stock-info {
    display: flex;
    flex-direction: column;
    > span > * {
      margin: 0;
      padding: 0;
    }
    .out-of-stock {
      font-size: 0.875rem;
      font-weight: 600;
      color: $amazon-orange;
      margin: 0;
    }
    .shipping {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      p {
        font-size: 0.875rem;
        color: $dark;
        font-weight: 800;
        text-align: center;
      }
      a {
        text-align: center;
        font-size: 0.75rem;
        color: $racing-blue;
        font-weight: 600;
      }
    }
  }
  .cart-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    .add {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      background-color: $btn-white-bg;
      border: 0.6px solid $border-cart-btn;
      border-radius: 6px;
    }
  }
  .cart-btn {
    width: calc(100% - 3rem);
    display: flex;
    align-items: center;
    border: 0.6px solid $border-cart-btn;
    border-radius: 6px;
    cursor: pointer;
    height: 3rem;
    .quantity {
      width: 3rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px 0 0 6px;
      background-color: $btn-white-bg;
    }
    .cart {
      width: calc(100% - 3rem);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      border-radius: 0 6px 6px 0;
      background-color: $btn-orange-2;
      border: 0.6px solid $amazon-orange;

      height: 100%;
      padding: 0 0.5rem;
      p {
        margin: 0;
      }
    }
  }
  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}
// ++++++++++++++++++++ LOADING +++++++++++++++++++++
.loading-text {
  font-family: $inter-font-family;
  color: $dark;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 5rem;
}
