@import "colors";
@import "fonts";
.recomendation {
  grid-column-start: 1;
  grid-column-end: 9;
  border: 0.6px solid $border-color;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  font-family: $inter-font-family;

  p {
    height: 10%;
    color: $dark;
    font-size: 1.125rem;
    font-weight: 500;
  }
  .product-container {
    height: 90%;
    display: flex;
  }
}
// ============================ PRODUCT=========================
.product {
  flex-basis: 0;
  flex-grow: 1;
  cursor: pointer;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  p {
    text-align: start;
    max-width: 150px;
    height: 3px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.75rem;
    line-height: 1.125; // Default is 1.2, but varies by browser
    min-height: 1.68rem; // 2 * 1em * 1.125
    // (number of lines) * (font-size) * (line-height multiplier)
  }
  .price {
    margin-top: 0.8rem;
    font-size: 1.125rem;
    font-weight: 500;
  }
}
//=============================== RATING ==========================
.rating-container {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  .rate {
    display: flex;
  }
  .count {
    font-size: 0.75rem;
    color: $rating-blue;
    font-weight: 500;
  }
}
