@import "colors";
@import "fonts";
.viewed-container {
  grid-column-start: 9;
  grid-column-end: 13;
  border: 0.6px solid $border-color;
  border-radius: 6px;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 1.2rem 2rem;
  font-family: $inter-font-family;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 1.25rem;
    }
    a {
      color: $gray;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}
.items-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  justify-content: space-between;
  height: 90%;
  .viewed-item {
    display: flex;
    gap: 2rem;
    align-items: center;
    .info {
      // border: 1px solid red;
      width: 90%;
      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin: 0;
          font-weight: 600;
          font-size: 0.875rem;
          overflow: hidden;
          white-space: nowrap; /* Don't forget this one */
          text-overflow: ellipsis;
          width: 90%;
        }
        em {
          color: $gray;
          font-weight: 500;
          font-size: 0.875rem;
          font-style: normal;
        }
      }
      button {
        margin-top: 0.5rem;
        padding: 0.45rem 0.9rem;
        border: none;
        font-size: 0.75rem;
        font-family: $inter-font-family;
        font-weight: 600;
        background-color: $btn-orange-2;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: $amazon-orange;
        }
      }
    }
  }
}
